<!DOCTYPE html>
<html>

	<head>
	  
		<title>AquariumServe | Quality Aquarium Services Made Easy</title>
	 	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  	<%= csrf_meta_tags %>

	  	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="AquariumServe is the best way to hire local aquarium service and maintenance professionals. We deliver instant quotes from professionals ready to help you.">

		<% if Rails.env == 'production' %>

			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-87708173-1', 'auto');
			  ga('send', 'pageview');

			</script>

		<%end%>


	</head>

	<body>

		<%= render 'layouts/header' %>

		<div class="content-container">

			<%= yield %>
			
		</div>

	</body>

</html>
